@keyframes typing {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

.typing::after {
  content: "";
  display: inline-block;
  width: 1em;
  animation: typing 1.5s steps(4) infinite;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #48d57c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #23ac55;
}

img {
  width: 498px;
  height: 592px;
  object-fit: cover;
}